*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ffcf1b, #ff8b1b);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 45%;
  min-width: 500px;
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.scores {
  margin-bottom: 50px;
  text-align: right;
}

.scores p,
.details p {
  font-weight: 400;
  font-size: 15px;
}

.weapons {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.weapons button {
  background-color: #ffd51b;
  color: #000000;
  border: none;
  font-size: 50px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.weapons button:hover {
  background-color: #ffc107;
}

.details {
  margin-top: 30px;
  text-align: center;
}

#result {
  width: 180px;
  padding: 10px 0;
  margin: 30px auto;
  font-weight: 600;
  letter-spacing: 0.5px;
}

span {
  font-weight: 600;
}
